div1 {
  
    font-display: block;
    
    margin: 5px;
    
    height: 40px;
    
    background-color: rgb(25, 117, 255);
    
    padding: 2px;
    
    border: 2px solid rgb(255, 255, 255);
    
    border-radius: 20px;
    transform: scale(1.1);
  
    text-decoration: none;
  }

